{% extends "base.html" %}

{% block content %}

    <div class="container">

        <h4 class='my-4'> Category : {{category}}</h4>
    
    </div>

    <div class="">
            {% for article in articles %}
                <a class="row text-decoration-none text-dark my-5" href="{% url "article:single_article" article.id %}"> 
                    <div class="image col-4">
                        <img style= "width:90%" src="{{article.img.url}}" alt="">

                    </div>
                    <div class="contents col-8">
                        <h5> {{article.title}}</h5>
                        <h6>Published on {{article.pub_date}} </h6>
                        <p> {{article.content|truncatewords:100}}</p>
                        {% comment %} <a href = "/article:single_article/{{article.id}}/"class="btn btn-danger m-2">Delete</a>
                        <a href = "/article:single_article/{{article.id}}/"class="btn btn-success">Update</a> {% endcomment %}
                    </div>
                </a>
            {% endfor %}
    </div>


{% endblock content %}